<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="TestSuite" verbose="1">
    <parameter name="applicationPropertyFileLocation" value="application.properties"/>
    <parameter name="testDataLocation" value="TestDataSheet_StockBroking_WebApplication.xlsx"/>
    <parameter name="baseURL" value="https://trade.share.market/login"/>
    <!--    <parameter name="baseURL" value="https://sb-testing-web-internal.phonepe.com/"/>-->
    <!--    <parameter name="customCapability" value="CustomEntities.CustomCapabilities.setCustomCapabilities"/>-->
<!--    <listeners>-->
<!--        <listener class-name="com.phonepe.webautomationframework.customEntities.CustomTestNGListener"/>-->
<!--    </listeners>-->
    <!--    <test name="Test Cases">
           &lt;!&ndash; <groups>
                <run>
    &lt;!&ndash;                <include name="HappyFlow"/>&ndash;&gt;
    &lt;!&ndash;                <include name="ResendOTP"/>&ndash;&gt;
    &lt;!&ndash;                <include name="invalidOTPAttempts"/>&ndash;&gt;
                    <include name="sessionExpiry"/>
                </run>
            </groups>&ndash;&gt;
            <classes>
                <class name="com.phonepe.qa.stockBroking.testclass.AccountsPageTest"/>
            </classes>
        </test>-->

    <test name="Script Detail Page">
<!--        <groups>-->
<!--            <run>-->
<!--                <include name="group1"/>-->
<!--            </run>-->
<!--        </groups>-->
        <classes>
            <class name="com.phonepe.qa.stockBroking.testclass.ScriptDetailsPageTest"/>
        </classes>
    </test>
</suite>
